{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf"
}
